<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>CPU: AMD Ryzen 9 6900HSGPU: Up to AMD Radeon RX 6800SRAM:
        Up to 32GB DDR5-4800Screen: 14-inch IPS 1600p @ 120HzStorage:
        1TB SSD NVMe PCIe 4.0Battery:
        76WhDimensions: 12.28 x 8.94 x 0.73
        inchesWeight: 3.79lbs</h1>
    <a href="http://127.0.0.1:8000/">back to main page</a>
</body>
</html>