<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> HTTPS (аббр. от <a href="http://127.0.0.1:8000/about">англ</a> HyperText Transfer Protocol Secure) —
        расширение протокола HTTP для поддержки шифрования в целях повышения безопасности.
        Данные в протоколе HTTPS передаются поверх криптографических протоколов TLS или устаревшего в 2015 году SSL[1].
        В отличие от HTTP с TCP-портом 80, для HTTPS по умолчанию используется TCP-порт 443[2].</h1>
    <a href="http://127.0.0.1:8000/">back to main page</a>
</body>
</html>