<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>HTTP (<a href="http://127.0.0.1:8000/about">англ</a> HyperText Transfer Protocol —
        «протокол передачи гипертекста») — протокол прикладного уровня передачи данных,
        изначально — в виде гипертекстовых документов в формате HTML,
        в настоящее время используется для передачи произвольных данных.</h1>
    <a href="http://127.0.0.1:8000/">back to main page</a>
</body>
</html>