<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML</title>
</head>
<body>
    <h1>HTML</h1>
    <h3>
        Материал из Википедии — свободной энциклопедии


    </h3>
    <h2>
        <div>
            HTML (от <a href="http://127.0.0.1:8000/about">англ</a>--> HyperText Markup Language — <a href="http://127.0.0.1:8000/hypertext">«язык гипертекстовой разметки»</a>) —
            стандартизированный язык гипертекстовой разметки документов для просмотра <a href="http://127.0.0.1:8000/Web_List">веб-страниц</a> в <a href="http://127.0.0.1:8000/Browser">браузере</a>.
            Веб-браузеры получают HTML документ от сервера по протоколам <a href="http://127.0.0.1:8000/HTTP">HTTP</a>/<a href="http://127.0.0.1:8000/HTTPS">HTTPS</a> или открывают с локального диска,
            далее интерпретируют код в интерфейс, который будет отображаться на экране монитора.
        </div>
<!--         <a href="about.html">Нажмите для перехода на другую страницу</a>-->
    </h2>
    <button>
        <a href="http://127.0.0.1:8000/categories/">Categories</a>
    </button>
    <button>
        <a href="http://127.0.0.1:8000/admin/">Admin panel</a>
    </button>
</body>
</html>