<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>SPECIFICATIONS
        CPU: AMD Ryzen 7 5800HGPU:
        Up to Nvidia RTX 3070RAM:
        Up to 32GB DDR4Screen: 16-inch 165Hz 2560 x 1600Storage:
        Up to 2 TB M.2 SSDBattery: 86WhDimensions: 14.01 x 10.4 x 1.1
        inchesWeight: 5.4lbs</h1>
    <a href="http://127.0.0.1:8000/">back to main page</a>
</body>
</html>