<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>SPECIFICATIONS
    CPU: AMD Ryzen 9 6900HXGPU:
        Up to Nvidia RTX 3080 TiRAM:
        16GB DDR5-4800Screen: 14-inch 1080p @ 144Hz or 1440p @ 165Hz
        Storage: 1TB PCIe 4.0 SSDBattery: 61.6WhDimensions: 0.66 x 8.66 x 12.59
        inchesWeight: 3.92lb</h1>
    <a href="http://127.0.0.1:8000/">back to main page</a>
</body>
</html>