<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> 1. Razer Blade 15
The best gaming laptop
SPECIFICATIONS
CPU: Up to Core i9 12900HGPU:
Up to Nvidia RTX 3080 TiRAM:
Up to 32GB
DDR5Screen: 1080p @ 360Hz, 1440p @ 240Hz, or 4K @
144HzStorage: Up to 1TB
SSDBattery: 80WhDimensions: 9.25 x 13.98 x 0.78
inchesWeight: 4.63lbs
</h1>
    <a href="http://127.0.0.1:8000/">back to main page</a>
</body>
</html>