<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Веб-страни́ца (<a href="http://127.0.0.1:8000/about">англ</a> Web page) —
        документ или информационный ресурс Всемирной паутины,
        доступ к которому осуществляется с помощью веб-браузера.
        Происходит от двух слов : Всемирная сеть — сокращённо:
        WWW, W3, или Web; Сеть, паутина или веб — всемирная система публичных веб-страниц в сети Интернет и page - страница.
        Сеть не является Интернетом: Сеть лишь использует Интернет как среду передачи информации и данных.</h1>
    <a href="http://127.0.0.1:8000/">back to main page</a>
</body>
</html>